################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PipeGeneration/v15/Server/sqlite3
/.vs/PipeGeneration/v15/.suo
/.vs/PipeGeneration/v16/Server/sqlite3
/.vs/PipeGeneration/v16/.suo
/PipeGeneration/bin/Debug
/PipeGeneration/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/PipeGeneration/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/PipeGeneration/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/PipeGeneration/obj/Debug/PipeGeneration_MarkupCompile.lref
/PipeGeneration/obj/Debug/PipeGeneration_MarkupCompile.i.lref
/PipeGeneration/obj/Debug/PipeGeneration_MarkupCompile.i.cache
/PipeGeneration/obj/Debug/PipeGeneration_MarkupCompile.cache
/PipeGeneration/obj/Debug/PipeGeneration.pdb
/PipeGeneration/obj/Debug/PipeGeneration.g.resources
/PipeGeneration/obj/Debug/PipeGeneration.dll
/PipeGeneration/obj/Debug/PipeGeneration.csprojAssemblyReference.cache
/PipeGeneration/obj/Debug/PipeGeneration.csproj.FileListAbsolute.txt
/PipeGeneration/obj/Debug/PipeGeneration.csproj.CoreCompileInputs.cache
/PipeGeneration/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PipeGeneration/obj/Debug/DesignTimeResolveAssemblyReferences.cache
